@model ErrorViewModel
@{
    ViewData["Title"] = "Greška";
}

<h1 class="text-danger">Greška.</h1>
<h2 class="text-danger">Došlo je do pogreške prilikom obrade vašeg zahtjeva.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>ID zahtjeva:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>Razvojni način</h3>
<p>
    Prebacivanje na <strong>Development</strong> okruženje prikazat će detaljnije informacije o nastaloj pogrešci.
</p>
<p>
    <strong>Okruženje <strong>Development</strong> ne bi trebalo biti omogućeno za distribuirane aplikacije.</strong>
    To može rezultirati prikazivanjem osjetljivih informacija iz iznimki krajnjim korisnicima.
    Za lokalno otklanjanje pogrešaka omogućite okruženje <strong>Development</strong> postavljanjem varijable okoline <strong>ASPNETCORE_ENVIRONMENT</strong> na <strong>Development</strong>
    i ponovnim pokretanjem aplikacije.
</p>
