@{
    Layout = null;
}

<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dijeli</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
    <body>
        <div>
            @ViewBag.Rezultat
            @ViewBag.Greska
        </div>

</body>
