<div>
    <form method="post" action="/Osobe/PrikaziOsobu">
        <div>
            <label>Unesi ime:</label>
            <input type="text" name="Ime" value="" />
        </div>
        <div>
            <label>Unesi prezime:</label>
            <input type="text" name="Prezime" value="" />
        </div>
        <div>
            <label>Unesi email:</label>
            <input type="text" name="Email" value="" />
        </div>
        <div>
            <label>Unesi datum rodenja:</label>
            <input type="date" name="DatumRodjenja" value="" />
        </div>
    </form>
</div>   