<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <header>
        <a href="">
            <img src="https://ucilistepotencijal.hr/wp-content/uploads/elementor/thumbs/Potencijal-uciliste-logo_3_3-%E2%80%93-bojaZaWeb-r2uegwt7dkphm6u9q0095grnb86g5czto2k9okvjbs.png" alt="Učilište Potencijal" style="height:100px;" />
        </a>
        <a href="/LayoutSekcije/Stranica1">Stranica 1</a>
        <a href="/LayoutSekcije/Stranica2">Stranica 2</a>
    </header>
    <div>
        @RenderBody()
    </div>
    <div>
        @RenderSection("DodatniSadrzaj", false)
    </div>
</body>
</html>
