@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Potvrda zaboravljene lozinke";
}

<h1>@ViewData["Title"]</h1>
<p>
    Molimo provjerite svoju e‑poštu kako biste resetirali lozinku.
</p>
