@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Potvrda ponovne postavke lozinke";
}

<h1>@ViewData["Title"]</h1>
<p>
    Vaša lozinka je ponovno postavljena. Molimo vas da <a asp-page="./Login">kliknete ovdje za prijavu</a>.
</p>
