<body>
    <div>
        <form method="post">
            <label>Unesite godinu rođenja:</label>
            <input type="date" name="datumRodjenja" />
            <button type="submit">Izračunaj broj godina</button>
        </form>
    </div>
    <div>
        <label>
            Broj godina: @ViewBag.BrojGodina
        </label>
    </div>
</body>
