@model Kalkulator
@{
    ViewBag.Title = "Index";
}
<style>
    label {
        display: inline-block;
        width: 150px;
        margin: 5px;
        font: bold;
    }
</style>
<h2>@ViewBag.Title</h2>
<div>
    <h4>Kalkulator</h4>
    <hr />
    @using (Html.BeginForm("Dijeli", "TryCatchKalkulator", FormMethod.Post))
    {
        <div>
            <label>Prvi broj</label>
            @Html.TextBoxFor(m => m.PrviBroj)
        </div>
        <div>
            <label>Drugi broj</label>
            @Html.TextBoxFor(m => m.DrugiBroj)
        </div>
        <div>
            <label>Rezultat: </label>
            <label>@Model.Rezultat</label>
        </div>
        <div>
            <input type="submit" value="Dijeli" />
        </div>
    }
</div>
