@{
    ViewData["Title"] = "PogledSaSekcijama";
    Layout = "~/Views/Shared/_OsnovniLayout.cshtml";
}

<h1>PogledSaSekcijama</h1>

@section Styles {
    <link rel="stylesheet" href="~/css/site.css" />
}

@section Header {
    <p>Ovaj sadržaj dolazi iz header sekcije pogleda "PogledSaSekcijama"</p>
}

@section Footer {
    <p>Učilište Potencijal - @DateTime.Now.ToShortDateString()</p>
}