@{
    ViewData["Title"] = "PopisKosarice";
}
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - IzlazPrekoViewa</title>
</head>

<body>
    <div>
        <table>
            <tr>
                <th>Naziv artikla</th>
                <th>Cijena</th>
            </tr>
            <tr>
                <td>Banana</td>
                <td>1.99</td>
            </tr>
            <tr>
                <td>Jabuka</td>
                <td>1.49</td>
            </tr>
        </table>
    </div>
</body>
</html>