@{
    Layout = null;
}

<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Zbroj</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
    <body>
        <div>
        @using (Html.BeginForm())
        {
            @Html.TextBox("brojA")
            <br />
            @Html.TextBox("brojB")
            <br />
            <input type="submit" value="Zbroji" />
        }
        </div>
        <div>
        @ViewBag.Rezultat
    </div>
</body>
</html>
