<ht
<html>
    <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Provjeri Odgovor</title>
    </head>
    <body>
        <div>
            <form method="post">
                <label>Koliko pauk ima nogu?</label><br />
                <input type="radio" name="odgovor" value="5" />5<br />
                <input type="radio" name="odgovor" value="6" />6<br />
                <input type="radio" name="odgovor" value="7" />7<br />
                <input type="radio" name="odgovor" value="8" />8<br />
                <button type="submit">Provjeri</button>
            </form>
        </div>
        <div>
            <label>
                @ViewBag.Poruka
            </label>
        </div>
    </body>
</html>