@model int
<html>
    <head>
        <meta charset="utf-8" />
    <title>Razvrstaj Slucajni Broj</title>
    </head>
    <body>
        <div>
        Slučajni broj: @Model
        </div>
    <div>
        @if (Model > 99)
        {
            <div>Broj je troznamenkast</div>
        }
        else if(Model>9)
        {
            <div>Broj je dvoznamenkast</div>
        }
        else
        {
            <div>Broj je jednoznamenkast</div>

        }
    </div>
    </body>
</html>