@{
    Layout = null;
    decimal cijena = 60;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Razor Sintaksa</title>
</head>
<body>
    <div>
        @if (cijena < 50)
        {
            <p>Cijena je preniska.</p>
        }
        else if (cijena < 100)
        {
            <p>Cijena je prihvatljiva.</p>
        }
        else
        {
            <p>Cijena je previsoka.</p>
        }
    </div>
</body>
</html>