
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PrimjerPogleda</title>
</head>
<body>
    <div>
        <h2>Ovo je primjer pogleda View.</h2>
        <p>Sada je: @ViewBag.Vrijeme</p>
        <p>
            @TempData["broj1"]
        </p>
        <p>
            @TempData["broj2"]
        </p>
    </div>
</body>
</html>
