@model Kalkulator
@{
    ViewBag.Title = "Index";
}
<style>
    label{
        display: inline-block;
        width: 150px;
        margin: 5px;
        font: bold;
    }
</style>
<h2>@ViewBag.Title</h2>
<div>

</div>